# Ultimate Challenge Part 3

In [1]:
import pandas as pd
import json
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# We need a way of reading a JSON file with explicit NaN values in it: https://stackoverflow.com/q/29875244
text = open('ultimate_data_challenge.json', 'r')
x = text.read()
y = json.loads(x)
ultimate_pdf = pd.DataFrame(y)

In [3]:
ultimate_pdf

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver
0,King's Landing,4,2014-01-25,4.7,1.10,2014-06-17,iPhone,15.4,True,46.2,3.67,5.0
1,Astapor,0,2014-01-29,5.0,1.00,2014-05-05,Android,0.0,False,50.0,8.26,5.0
2,Astapor,3,2014-01-06,4.3,1.00,2014-01-07,iPhone,0.0,False,100.0,0.77,5.0
3,King's Landing,9,2014-01-10,4.6,1.14,2014-06-29,iPhone,20.0,True,80.0,2.36,4.9
4,Winterfell,14,2014-01-27,4.4,1.19,2014-03-15,Android,11.8,False,82.4,3.13,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,King's Landing,0,2014-01-25,5.0,1.00,2014-06-05,iPhone,0.0,False,100.0,5.63,4.2
49996,Astapor,1,2014-01-24,NaN,1.00,2014-01-25,iPhone,0.0,False,0.0,0.00,4.0
49997,Winterfell,0,2014-01-31,5.0,1.00,2014-05-22,Android,0.0,True,100.0,3.86,5.0
49998,Astapor,2,2014-01-14,3.0,1.00,2014-01-15,iPhone,0.0,False,100.0,4.58,3.5
49999,Astapor,0,2014-01-18,NaN,1.00,2014-04-20,Android,0.0,False,0.0,3.49,5.0

In [4]:
ultimate_pdf.describe()

,trips_in_first_30_days,avg_rating_of_driver,avg_surge,surge_pct,weekday_pct,avg_dist,avg_rating_by_driver
count,50000.000000,41878.000000,50000.000000,50000.000000,50000.000000,50000.000000,49799.000000
mean,2.278200,4.601559,1.074764,8.849536,60.926084,5.796827,4.778158
std,3.792684,0.617338,0.222336,19.958811,37.081503,5.707357,0.446652
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,4.300000,1.000000,0.000000,33.300000,2.420000,4.700000
50%,1.000000,4.900000,1.000000,0.000000,66.700000,3.880000,5.000000
75%,3.000000,5.000000,1.050000,8.600000,100.000000,6.940000,5.000000
max,125.000000,5.000000,8.000000,100.000000,100.000000,160.960000,5.000000

In [5]:
ultimate_pdf['no_rating_of_driver'] = ultimate_pdf['avg_rating_of_driver'].isna()
ultimate_pdf['no_rating_by_driver'] = ultimate_pdf['avg_rating_by_driver'].isna()

In [6]:
ultimate_pdf['signup_date'] = pd.to_datetime(ultimate_pdf['signup_date'])
ultimate_pdf['last_trip_date'] = pd.to_datetime(ultimate_pdf['last_trip_date'])

In [7]:
ultimate_pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
city                      50000 non-null object
trips_in_first_30_days    50000 non-null int64
signup_date               50000 non-null datetime64[ns]
avg_rating_of_driver      41878 non-null float64
avg_surge                 50000 non-null float64
last_trip_date            50000 non-null datetime64[ns]
phone                     49604 non-null object
surge_pct                 50000 non-null float64
ultimate_black_user       50000 non-null bool
weekday_pct               50000 non-null float64
avg_dist                  50000 non-null float64
avg_rating_by_driver      49799 non-null float64
no_rating_of_driver       50000 non-null bool
no_rating_by_driver       50000 non-null bool
dtypes: bool(3), datetime64[ns](2), float64(6), int64(1), object(2)
memory usage: 4.3+ MB

In [8]:
retained_date = ultimate_pdf.last_trip_date.max() - pd.to_timedelta('30day')

In [9]:
ultimate_pdf['retained'] = (ultimate_pdf['last_trip_date'] > retained_date) * 1

In [10]:
ultimate_pdf

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver,no_rating_of_driver,no_rating_by_driver,retained
0,King's Landing,4,2014-01-25,4.7,1.10,2014-06-17,iPhone,15.4,True,46.2,3.67,5.0,False,False,1
1,Astapor,0,2014-01-29,5.0,1.00,2014-05-05,Android,0.0,False,50.0,8.26,5.0,False,False,0
2,Astapor,3,2014-01-06,4.3,1.00,2014-01-07,iPhone,0.0,False,100.0,0.77,5.0,False,False,0
3,King's Landing,9,2014-01-10,4.6,1.14,2014-06-29,iPhone,20.0,True,80.0,2.36,4.9,False,False,1
4,Winterfell,14,2014-01-27,4.4,1.19,2014-03-15,Android,11.8,False,82.4,3.13,4.9,False,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,King's Landing,0,2014-01-25,5.0,1.00,2014-06-05,iPhone,0.0,False,100.0,5.63,4.2,False,False,1
49996,Astapor,1,2014-01-24,NaN,1.00,2014-01-25,iPhone,0.0,False,0.0,0.00,4.0,True,False,0
49997,Winterfell,0,2014-01-31,5.0,1.00,2014-05-22,Android,0.0,True,100.0,3.86,5.0,False,False,0
49998,Astapor,2,2014-01-14,3.0,1.00,2014-01-15,iPhone,0.0,False,100.0,4.58,3.5,False,False,0
49999,Astapor,0,2014-01-18,NaN,1.00,2014-04-20,Android,0.0,False,0.0,3.49,5.0,True,False,0

In [11]:
ultimate_pdf.retained.mean()

0.3662

In [12]:
sns.set_style("dark")

In [13]:
# sns.pairplot(ultimate_pdf, hue='retained', 
#              vars=['trips_in_first_30_days', 'avg_rating_of_driver', 'avg_surge', 'surge_pct',
#                   'ultimate_black_user', 'weekday_pct', 'avg_dist'])

In [14]:
# sns.boxplot(data=ultimate_pdf, hue='retained', x='phone', y='weekday_pct')

In [15]:
ultimate_pdf.groupby('city').retained.mean()

city
Astapor           0.243256
King's Landing    0.622606
Winterfell        0.342004
Name: retained, dtype: float64

In [16]:
ultimate_pdf.groupby('phone').retained.mean()

phone
Android    0.195846
iPhone     0.440634
Name: retained, dtype: float64

In [17]:
ultimate_pdf.groupby('ultimate_black_user').retained.mean()

ultimate_black_user
False    0.287388
True     0.496393
Name: retained, dtype: float64

In [18]:
# sns.violinplot(data=ultimate_pdf, x='city', y='avg_rating_of_driver', hue='retained', split=True)

In [19]:
# sns.violinplot(data=ultimate_pdf, x='phone', y='avg_rating_by_driver', hue='retained', split=True)

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder

In [21]:
ultimate_pdf.avg_rating_by_driver.fillna(5, inplace=True)
ultimate_pdf.avg_rating_of_driver.fillna(4.9, inplace=True)

In [22]:
ultimate_pdf

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver,no_rating_of_driver,no_rating_by_driver,retained
0,King's Landing,4,2014-01-25,4.7,1.10,2014-06-17,iPhone,15.4,True,46.2,3.67,5.0,False,False,1
1,Astapor,0,2014-01-29,5.0,1.00,2014-05-05,Android,0.0,False,50.0,8.26,5.0,False,False,0
2,Astapor,3,2014-01-06,4.3,1.00,2014-01-07,iPhone,0.0,False,100.0,0.77,5.0,False,False,0
3,King's Landing,9,2014-01-10,4.6,1.14,2014-06-29,iPhone,20.0,True,80.0,2.36,4.9,False,False,1
4,Winterfell,14,2014-01-27,4.4,1.19,2014-03-15,Android,11.8,False,82.4,3.13,4.9,False,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,King's Landing,0,2014-01-25,5.0,1.00,2014-06-05,iPhone,0.0,False,100.0,5.63,4.2,False,False,1
49996,Astapor,1,2014-01-24,4.9,1.00,2014-01-25,iPhone,0.0,False,0.0,0.00,4.0,True,False,0
49997,Winterfell,0,2014-01-31,5.0,1.00,2014-05-22,Android,0.0,True,100.0,3.86,5.0,False,False,0
49998,Astapor,2,2014-01-14,3.0,1.00,2014-01-15,iPhone,0.0,False,100.0,4.58,3.5,False,False,0
49999,Astapor,0,2014-01-18,4.9,1.00,2014-04-20,Android,0.0,False,0.0,3.49,5.0,True,False,0

In [23]:
ultimate_pdf['ultimate_black_user'] = ultimate_pdf['ultimate_black_user'] * 1

In [24]:
ultimate_pdf['phone_is_iphone'] = (ultimate_pdf['phone'] == 'iPhone') * 1

In [25]:
ultimate_pdf

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver,no_rating_of_driver,no_rating_by_driver,retained,phone_is_iphone
0,King's Landing,4,2014-01-25,4.7,1.10,2014-06-17,iPhone,15.4,1,46.2,3.67,5.0,False,False,1,1
1,Astapor,0,2014-01-29,5.0,1.00,2014-05-05,Android,0.0,0,50.0,8.26,5.0,False,False,0,0
2,Astapor,3,2014-01-06,4.3,1.00,2014-01-07,iPhone,0.0,0,100.0,0.77,5.0,False,False,0,1
3,King's Landing,9,2014-01-10,4.6,1.14,2014-06-29,iPhone,20.0,1,80.0,2.36,4.9,False,False,1,1
4,Winterfell,14,2014-01-27,4.4,1.19,2014-03-15,Android,11.8,0,82.4,3.13,4.9,False,False,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,King's Landing,0,2014-01-25,5.0,1.00,2014-06-05,iPhone,0.0,0,100.0,5.63,4.2,False,False,1,1
49996,Astapor,1,2014-01-24,4.9,1.00,2014-01-25,iPhone,0.0,0,0.0,0.00,4.0,True,False,0,1
49997,Winterfell,0,2014-01-31,5.0,1.00,2014-05-22,Android,0.0,1,100.0,3.86,5.0,False,False,0,0
49998,Astapor,2,2014-01-14,3.0,1.00,2014-01-15,iPhone,0.0,0,100.0,4.58,3.5,False,False,0,1
49999,Astapor,0,2014-01-18,4.9,1.00,2014-04-20,Android,0.0,0,0.0,3.49,5.0,True,False,0,0

In [26]:
label_encoder = LabelEncoder()
ultimate_pdf['city_id'] = label_encoder.fit_transform(ultimate_pdf['city'])

In [27]:
ultimate_pdf

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver,no_rating_of_driver,no_rating_by_driver,retained,phone_is_iphone,city_id
0,King's Landing,4,2014-01-25,4.7,1.10,2014-06-17,iPhone,15.4,1,46.2,3.67,5.0,False,False,1,1,1
1,Astapor,0,2014-01-29,5.0,1.00,2014-05-05,Android,0.0,0,50.0,8.26,5.0,False,False,0,0,0
2,Astapor,3,2014-01-06,4.3,1.00,2014-01-07,iPhone,0.0,0,100.0,0.77,5.0,False,False,0,1,0
3,King's Landing,9,2014-01-10,4.6,1.14,2014-06-29,iPhone,20.0,1,80.0,2.36,4.9,False,False,1,1,1
4,Winterfell,14,2014-01-27,4.4,1.19,2014-03-15,Android,11.8,0,82.4,3.13,4.9,False,False,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,King's Landing,0,2014-01-25,5.0,1.00,2014-06-05,iPhone,0.0,0,100.0,5.63,4.2,False,False,1,1,1
49996,Astapor,1,2014-01-24,4.9,1.00,2014-01-25,iPhone,0.0,0,0.0,0.00,4.0,True,False,0,1,0
49997,Winterfell,0,2014-01-31,5.0,1.00,2014-05-22,Android,0.0,1,100.0,3.86,5.0,False,False,0,0,2
49998,Astapor,2,2014-01-14,3.0,1.00,2014-01-15,iPhone,0.0,0,100.0,4.58,3.5,False,False,0,1,0
49999,Astapor,0,2014-01-18,4.9,1.00,2014-04-20,Android,0.0,0,0.0,3.49,5.0,True,False,0,0,0

In [28]:
features = ['trips_in_first_30_days', 'avg_rating_of_driver', 'avg_rating_by_driver', 
            'avg_surge', 'surge_pct', 'ultimate_black_user', 
            'weekday_pct', 'avg_dist', 'city_id', 'phone_is_iphone']

In [29]:
X = ultimate_pdf[features]
y = ultimate_pdf['retained']

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=23)

In [31]:
param_grid = {'n_estimators': [50, 100, 200],
              'max_depth': [2, 5, None],
              'min_samples_leaf': [2, 3, 5],
              'criterion': ['gini', 'entropy']
             }


# param_grid = {'n_estimators': [100],
#               'max_depth': [5]
#              }

classifier = RandomForestClassifier()
cv = GridSearchCV(estimator=classifier, param_grid=param_grid, n_jobs=-1, verbose=5)
cv.fit(X_train, y_train)
best_estimator = cv.best_estimator_

Fitting 5 folds for each of 54 candidates, totalling 270 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    6.5s
/opt/anaconda3/envs/springboard4/lib/python3.7/site-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done 130 tasks      | elapsed:   28.0s
[Parallel(n_jobs=-1)]: Done 270 out of 270 | elapsed:  1.0min finished

In [32]:
best_estimator.score(X_train, y_train)

0.864675

In [33]:
best_estimator.score(X_test, y_test)

0.7831

In [34]:
list(zip(features, best_estimator.feature_importances_))

[('trips_in_first_30_days', 0.08137317133667783),
 ('avg_rating_of_driver', 0.06385256211886932),
 ('avg_rating_by_driver', 0.13512570468274024),
 ('avg_surge', 0.07416389673725692),
 ('surge_pct', 0.10797992135683365),
 ('ultimate_black_user', 0.04758620177909376),
 ('weekday_pct', 0.1376352988927536),
 ('avg_dist', 0.18296037605122137),
 ('city_id', 0.10806940207695138),
 ('phone_is_iphone', 0.06125346496760191)]