In [1]:
import pandas as pd

In [2]:
takehome_users = pd.read_csv('takehome_users.csv', 
                             encoding='latin-1', 
                             parse_dates=['creation_time'],
                             infer_datetime_format=True)

In [3]:
takehome_users.head(5)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [4]:
takehome_users['last_session_creation_timestamp'] = pd.to_datetime(takehome_users['last_session_creation_time'], unit='s')

In [5]:
takehome_users['invited_by_user'] = takehome_users['invited_by_user_id'].notna() * 1

In [7]:
takehome_users['last_session_happened'] = takehome_users['last_session_creation_timestamp'].notna() * 1

In [8]:
takehome_users.head(5)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,last_session_creation_timestamp,invited_by_user,last_session,last_session_happened
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,2014-04-22 03:53:30,1,1,1
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2014-03-31 03:45:04,1,1,1
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,2013-03-19 23:14:52,1,1,1
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,2013-05-22 08:09:28,1,1,1
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,2013-01-22 10:14:20,1,1,1

In [9]:
takehome_user_engagement = pd.read_csv('takehome_user_engagement.csv',
                                      parse_dates=['time_stamp'])

In [10]:
takehome_user_engagement.head()

           time_stamp  user_id  visited
0 2014-04-22 03:53:30        1        1
1 2013-11-15 03:45:04        2        1
2 2013-11-29 03:45:04        2        1
3 2013-12-09 03:45:04        2        1
4 2013-12-25 03:45:04        2        1

In [11]:
rolling_7_day_engagement = takehome_user_engagement.groupby(by='user_id').rolling('7d', on='time_stamp').count()

In [12]:
adopted_user_data = rolling_7_day_engagement[rolling_7_day_engagement['visited'] >= 3]

In [13]:
adopted_ids = set(adopted_user_data.index.get_level_values(0))

In [14]:
takehome_users['adopted'] = takehome_users.apply(lambda x: int(x['object_id'] in adopted_ids), axis=1)

In [15]:
takehome_users = pd.get_dummies(takehome_users, columns=['creation_source'])

In [16]:
takehome_users.head(5)

,object_id,creation_time,name,email,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,last_session_creation_timestamp,invited_by_user,last_session,last_session_happened,adopted,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,1.398139e+09,1,0,11,10803.0,2014-04-22 03:53:30,1,1,1,0,1,0,0,0,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,1.396238e+09,0,0,1,316.0,2014-03-31 03:45:04,1,1,1,1,0,1,0,0,0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,1.363735e+09,0,0,94,1525.0,2013-03-19 23:14:52,1,1,1,0,0,1,0,0,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,1.369210e+09,0,0,1,5151.0,2013-05-22 08:09:28,1,1,1,0,1,0,0,0,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,1.358850e+09,0,0,193,5240.0,2013-01-22 10:14:20,1,1,1,0,1,0,0,0,0

In [17]:
y = takehome_users['adopted']
y

0        0
1        1
2        0
3        0
4        0
        ..
11995    0
11996    0
11997    0
11998    0
11999    0
Name: adopted, Length: 12000, dtype: int64

In [18]:
y.value_counts()

0    10398
1     1602
Name: adopted, dtype: int64

In [19]:
features = ['opted_in_to_mailing_list', 'enabled_for_marketing_drip', 'org_id', 'invited_by_user', 
            'creation_source_GUEST_INVITE', 'creation_source_ORG_INVITE',
            'creation_source_PERSONAL_PROJECTS', 'creation_source_SIGNUP', 
            'creation_source_SIGNUP_GOOGLE_AUTH']
X = takehome_users[features]
X.head()

,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH
0,1,0,11,1,1,0,0,0,0
1,0,0,1,1,0,1,0,0,0
2,0,0,94,1,0,1,0,0,0
3,0,0,1,1,1,0,0,0,0
4,0,0,193,1,1,0,0,0,0

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=23)

In [22]:
param_grid = {'n_estimators': [50, 100, 200],
              'max_depth': [2, 5, None],
              'min_samples_leaf': [2, 3, 5],
              'criterion': ['gini', 'entropy']
             }

In [23]:
classifier = RandomForestClassifier()

In [24]:
cv = GridSearchCV(estimator=classifier, param_grid=param_grid, n_jobs=-1, verbose=5)

In [25]:
cv.fit(X_train, y_train)

Fitting 5 folds for each of 54 candidates, totalling 270 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done 130 tasks      | elapsed:    6.5s
[Parallel(n_jobs=-1)]: Done 270 out of 270 | elapsed:   13.5s finished

GridSearchCV(cv=None, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 5, None],
                         'min_samples_leaf': [2, 3, 5],
                         'n_estimators': [50, 100, 200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=5)

In [26]:
cv.cv_results_

{'mean_fit_time': array([0.18408952, 0.36381049, 0.69347334, 0.18322778, 0.34373851,
        0.66551099, 0.17214432, 0.32867017, 0.67655392, 0.21971827,
        0.44288673, 0.82903581, 0.20749331, 0.40331511, 0.83224559,
        0.20276957, 0.40663705, 0.81079855, 0.37980213, 0.75542283,
        1.49889822, 0.3657238 , 0.7248436 , 1.44874082, 0.3422266 ,
        0.68270388, 1.40755763, 0.16137419, 0.33458233, 0.66947131,
        0.16812043, 0.33252797, 0.67006297, 0.17059479, 0.33897567,
        0.6715776 , 0.22783041, 0.43826437, 0.86812057, 0.22167468,
        0.43266749, 0.87757492, 0.22112694, 0.44749584, 0.90930061,
        0.49851575, 1.02176046, 2.13027306, 0.49708891, 1.025737  ,
        2.06518946, 0.48958058, 0.95463719, 1.38312287]),
 'std_fit_time': array([0.00287976, 0.00235552, 0.00541789, 0.00359985, 0.0089509 ,
        0.00657053, 0.00724009, 0.00382526, 0.00921906, 0.00672073,
        0.00369568, 0.01005816, 0.00640023, 0.00333866, 0.01755359,
        0.00182379, 0.00284071, 0.01250507, 0.00214377, 0.00893198,
        0.01976695, 0.00539333, 0.00977659, 0.01375182, 0.00513282,
        0.0091155 , 0.01780827, 0.00465531, 0.00962142, 0.0044954 ,
        0.0025176 , 0.00426727, 0.00764902, 0.00217872, 0.00200791,
        0.00613106, 0.00262423, 0.00328807, 0.00434729, 0.00312866,
        0.00207243, 0.0070907 , 0.00254154, 0.00731927, 0.00720729,
        0.00955302, 0.01226371, 0.02480445, 0.00657552, 0.01092084,
        0.01521826, 0.00586688, 0.01238222, 0.05934143]),
 'mean_score_time': array([0.0154933 , 0.02765293, 0.05107288, 0.01439772, 0.02651114,
        0.05176287, 0.0141602 , 0.02705956, 0.04795074, 0.0157527 ,
        0.02857084, 0.05546656, 0.01510954, 0.02952213, 0.05692768,
        0.01636581, 0.03006883, 0.05519176, 0.02380967, 0.04530735,
        0.09041476, 0.02349782, 0.04431338, 0.08865824, 0.02248659,
        0.04425554, 0.08841953, 0.01466699, 0.02637944, 0.04926209,
        0.01405654, 0.02529106, 0.05330238, 0.01514397, 0.02602444,
        0.04962492, 0.01628428, 0.03028641, 0.05877423, 0.0159647 ,
        0.03059773, 0.06163769, 0.01638908, 0.03255377, 0.06485739,
        0.02647862, 0.05369177, 0.11060872, 0.02736125, 0.05649276,
        0.09930081, 0.0281034 , 0.05037045, 0.06269846]),
 'std_score_time': array([0.00067049, 0.00181069, 0.00327832, 0.00074547, 0.00215386,
        0.00209136, 0.00059667, 0.00091584, 0.00116451, 0.00053648,
        0.00093357, 0.00119018, 0.00035915, 0.00119181, 0.00108879,
        0.00138881, 0.00108387, 0.00090812, 0.00081236, 0.00088984,
        0.00233305, 0.00058916, 0.00057037, 0.00238848, 0.00101412,
        0.00240319, 0.00132919, 0.00083309, 0.00170005, 0.00039006,
        0.00087912, 0.00049306, 0.0025696 , 0.00181289, 0.00073438,
        0.00122151, 0.00089696, 0.00100437, 0.00150748, 0.00052784,
        0.00126334, 0.00057341, 0.00091305, 0.00108297, 0.00084461,
        0.00074206, 0.00087936, 0.00542903, 0.00042795, 0.00245977,
        0.00281248, 0.00138482, 0.00263825, 0.00146894]),
 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_depth': masked_array(data=[2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 5, 5, 5, 5, 5,
                    None, None, None, None, None, None, None, None, None,
                    2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 5, 5, 5, 5, 5,
                    None, None, None, None, None, None, None, None, None],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_min_samples_leaf': masked_array(data=[2, 2, 2, 3, 3, 3, 5, 5, 5, 2, 2, 2, 3, 3, 3, 5, 5, 5,
                    2, 2, 2, 3, 3, 3, 5, 5, 5, 2, 2, 2, 3, 3, 3, 5, 5, 5,
                    2, 2, 2, 3, 3, 3, 5, 5, 5, 2, 2, 2, 3, 3, 3, 5, 5, 5],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[50, 100, 200, 50, 100, 200, 50, 100, 200, 50, 100, 200,
                    50, 100, 200, 50, 100, 200, 50, 100, 200, 50, 100, 200,
                    50, 100, 200, 50, 100, 200, 50, 100, 200, 50, 100, 200,
                    50, 100, 200, 50, 100, 200, 50, 100, 200, 50, 100, 200,
                    50, 100, 200, 50, 100, 200],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'criterion': 'gini',
   'max_depth': 2,
   'min_samples_leaf': 2,
   'n_estimators': 50},
  {'criterion': 'gini',
   'max_depth': 2,
   'min_samples_leaf': 2,
   'n_estimators': 100},
  {'criterion': 'gini',
   'max_depth': 2,
   'min_samples_leaf': 2,
   'n_estimators': 200},
  {'criterion': 'gini',
   'max_depth': 2,
   'min_samples_leaf': 3,
   'n_estimators': 50},
  {'criterion': 'gini',
   'max_depth': 2,
   'min_samples_leaf': 3,
   'n_estimators': 100},
  {'criterion': 'gini',
   'max_depth': 2,
   'min_samples_leaf': 3,
   'n_estimators': 200},
  {'criterion': 'gini',
   'max_depth': 2,
   'min_samples_leaf': 5,
   'n_estimators': 50},
  {'criterion': 'gini',
   'max_depth': 2,
   'min_samples_leaf': 5,
   'n_estimators': 100},
  {'criterion': 'gini',
   'max_depth': 2,
   'min_samples_leaf': 5,
   'n_estimators': 200},
  {'criterion': 'gini',
   'max_depth': 5,
   'min_samples_leaf': 2,
   'n_estimators': 50},
  {'criterion': 'gini',
   'max_depth': 5,
   'min_samples_leaf': 2,
   'n_estimators': 100},
  {'criterion': 'gini',
   'max_depth': 5,
   'min_samples_leaf': 2,
   'n_estimators': 200},
  {'criterion': 'gini',
   'max_depth': 5,
   'min_samples_leaf': 3,
   'n_estimators': 50},
  {'criterion': 'gini',
   'max_depth': 5,
   'min_samples_leaf': 3,
   'n_estimators': 100},
  {'criterion': 'gini',
   'max_depth': 5,
   'min_samples_leaf': 3,
   'n_estimators': 200},
  {'criterion': 'gini',
   'max_depth': 5,
   'min_samples_leaf': 5,
   'n_estimators': 50},
  {'criterion': 'gini',
   'max_depth': 5,
   'min_samples_leaf': 5,
   'n_estimators': 100},
  {'criterion': 'gini',
   'max_depth': 5,
   'min_samples_leaf': 5,
   'n_estimators': 200},
  {'criterion': 'gini',
   'max_depth': None,
   'min_samples_leaf': 2,
   'n_estimators': 50},
  {'criterion': 'gini',
   'max_depth': None,
   'min_samples_leaf': 2,
   'n_estimators': 100},
  {'criterion': 'gini',
   'max_depth': None,
   'min_samples_leaf': 2,
   'n_estimators': 200},
  {'criterion': 'gini',
   'max_depth': None,
   'min_samples_leaf': 3,
   'n_estimators': 50},
  {'criterion': 'gini',
   'max_depth': None,
   'min_samples_leaf': 3,
   'n_estimators': 100},
  {'criterion': 'gini',
   'max_depth': None,
   'min_samples_leaf': 3,
   'n_estimators': 200},
  {'criterion': 'gini',
   'max_depth': None,
   'min_samples_leaf': 5,
   'n_estimators': 50},
  {'criterion': 'gini',
   'max_depth': None,
   'min_samples_leaf': 5,
   'n_estimators': 100},
  {'criterion': 'gini',
   'max_depth': None,
   'min_samples_leaf': 5,
   'n_estimators': 200},
  {'criterion': 'entropy',
   'max_depth': 2,
   'min_samples_leaf': 2,
   'n_estimators': 50},
  {'criterion': 'entropy',
   'max_depth': 2,
   'min_samples_leaf': 2,
   'n_estimators': 100},
  {'criterion': 'entropy',
   'max_depth': 2,
   'min_samples_leaf': 2,
   'n_estimators': 200},
  {'criterion': 'entropy',
   'max_depth': 2,
   'min_samples_leaf': 3,
   'n_estimators': 50},
  {'criterion': 'entropy',
   'max_depth': 2,
   'min_samples_leaf': 3,
   'n_estimators': 100},
  {'criterion': 'entropy',
   'max_depth': 2,
   'min_samples_leaf': 3,
   'n_estimators': 200},
  {'criterion': 'entropy',
   'max_depth': 2,
   'min_samples_leaf': 5,
   'n_estimators': 50},
  {'criterion': 'entropy',
   'max_depth': 2,
   'min_samples_leaf': 5,
   'n_estimators': 100},
  {'criterion': 'entropy',
   'max_depth': 2,
   'min_samples_leaf': 5,
   'n_estimators': 200},
  {'criterion': 'entropy',
   'max_depth': 5,
   'min_samples_leaf': 2,
   'n_estimators': 50},
  {'criterion': 'entropy',
   'max_depth': 5,
   'min_samples_leaf': 2,
   'n_estimators': 100},
  {'criterion': 'entropy',
   'max_depth': 5,
   'min_samples_leaf': 2,
   'n_estimators': 200},
  {'criterion': 'entropy',
   'max_depth': 5,
   'min_samples_leaf': 3,
   'n_estimators': 50},
  {'criterion': 'entropy',
   'max_depth': 5,
   'min_samples_leaf': 3,
   'n_estimators': 100},
  {'criterion': 'entropy',
   'max_depth': 5,
   'min_samples_leaf': 3,
   'n_estimators': 200},
  {'criterion': 'entropy',
   'max_depth': 5,
   'min_samples_leaf': 5,
   'n_estimators': 50},
  {'criterion': 'entropy',
   'max_depth': 5,
   'min_samples_leaf': 5,
   'n_estimators': 100},
  {'criterion': 'entropy',
   'max_depth': 5,
   'min_samples_leaf': 5,
   'n_estimators': 200},
  {'criterion': 'entropy',
   'max_depth': None,
   'min_samples_leaf': 2,
   'n_estimators': 50},
  {'criterion': 'entropy',
   'max_depth': None,
   'min_samples_leaf': 2,
   'n_estimators': 100},
  {'criterion': 'entropy',
   'max_depth': None,
   'min_samples_leaf': 2,
   'n_estimators': 200},
  {'criterion': 'entropy',
   'max_depth': None,
   'min_samples_leaf': 3,
   'n_estimators': 50},
  {'criterion': 'entropy',
   'max_depth': None,
   'min_samples_leaf': 3,
   'n_estimators': 100},
  {'criterion': 'entropy',
   'max_depth': None,
   'min_samples_leaf': 3,
   'n_estimators': 200},
  {'criterion': 'entropy',
   'max_depth': None,
   'min_samples_leaf': 5,
   'n_estimators': 50},
  {'criterion': 'entropy',
   'max_depth': None,
   'min_samples_leaf': 5,
   'n_estimators': 100},
  {'criterion': 'entropy',
   'max_depth': None,
   'min_samples_leaf': 5,
   'n_estimators': 200}],
 'split0_test_score': array([0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.84635417, 0.8484375 ,
        0.84739583, 0.8546875 , 0.85364583, 0.853125  , 0.86354167,
        0.86354167, 0.86302083, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.84427083, 0.84635417, 0.84635417, 0.85520833, 0.85416667,
        0.85364583, 0.8625    , 0.8625    , 0.86302083]),
 'split1_test_score': array([0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.83385417, 0.83385417,
        0.8359375 , 0.84739583, 0.85104167, 0.85      , 0.8640625 ,
        0.86302083, 0.8625    , 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.83333333, 0.83229167, 0.83541667, 0.846875  , 0.84635417,
        0.8453125 , 0.86041667, 0.8640625 , 0.86302083]),
 'split2_test_score': array([0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.8453125 , 0.84479167,
        0.84375   , 0.85520833, 0.8546875 , 0.85572917, 0.86145833,
        0.86302083, 0.86458333, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.8453125 , 0.8421875 , 0.8453125 , 0.85572917, 0.85520833,
        0.85729167, 0.8640625 , 0.86510417, 0.86458333]),
 'split3_test_score': array([0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.83854167, 0.84010417,
        0.83802083, 0.84583333, 0.846875  , 0.84791667, 0.86145833,
        0.86197917, 0.8625    , 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.83802083, 0.8421875 , 0.8390625 , 0.84635417, 0.84791667,
        0.84635417, 0.8609375 , 0.86197917, 0.8625    ]),
 'split4_test_score': array([0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.83072917, 0.8328125 ,
        0.83333333, 0.84739583, 0.8484375 , 0.84947917, 0.86041667,
        0.8609375 , 0.85833333, 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.86614583, 0.86614583, 0.86614583, 0.86614583, 0.86614583,
        0.83229167, 0.83385417, 0.83541667, 0.85052083, 0.84947917,
        0.84947917, 0.85885417, 0.86041667, 0.86145833]),
 'mean_test_score': array([0.86645833, 0.86645833, 0.86645833, 0.86645833, 0.86645833,
        0.86645833, 0.86645833, 0.86645833, 0.86645833, 0.86645833,
        0.86645833, 0.86645833, 0.86645833, 0.86645833, 0.86645833,
        0.86645833, 0.86645833, 0.86645833, 0.83895833, 0.84      ,
        0.8396875 , 0.85010417, 0.8509375 , 0.85125   , 0.8621875 ,
        0.8625    , 0.8621875 , 0.86645833, 0.86645833, 0.86645833,
        0.86645833, 0.86645833, 0.86645833, 0.86645833, 0.86645833,
        0.86645833, 0.86645833, 0.86645833, 0.86645833, 0.86645833,
        0.86645833, 0.86645833, 0.86645833, 0.86645833, 0.86645833,
        0.83864583, 0.839375  , 0.8403125 , 0.8509375 , 0.850625  ,
        0.85041667, 0.86135417, 0.8628125 , 0.86291667]),
 'std_test_score': array([0.00025516, 0.00025516, 0.00025516, 0.00025516, 0.00025516,
        0.00025516, 0.00025516, 0.00025516, 0.00025516, 0.00025516,
        0.00025516, 0.00025516, 0.00025516, 0.00025516, 0.00025516,
        0.00025516, 0.00025516, 0.00025516, 0.00614848, 0.0060596 ,
        0.00516019, 0.00399924, 0.00297195, 0.00280671, 0.00138193,
        0.00093169, 0.00207289, 0.00025516, 0.00025516, 0.00025516,
        0.00025516, 0.00025516, 0.00025516, 0.00025516, 0.00025516,
        0.00025516, 0.00025516, 0.00025516, 0.00025516, 0.00025516,
        0.00025516, 0.00025516, 0.00025516, 0.00025516, 0.00025516,
        0.00538653, 0.00538855, 0.00471174, 0.00397202, 0.00347673,
        0.0044973 , 0.00178609, 0.00163379, 0.00100993]),
 'rank_test_score': array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
         1, 53, 50, 51, 48, 44, 43, 41, 39, 40,  1,  1,  1,  1,  1,  1,  1,
         1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, 54, 52, 49, 45, 46, 47,
        42, 38, 37], dtype=int32)}

In [27]:
best_estimator = cv.best_estimator_
best_estimator

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [34]:
best_estimator.score(X_train, y_train)

0.8664583333333333

In [35]:
best_estimator.score(X_test, y_test)

0.8666666666666667

In [31]:
list(zip(features, best_estimator.feature_importances_))

[('opted_in_to_mailing_list', 0.004804437731065638),
 ('enabled_for_marketing_drip', 0.011062009796962724),
 ('org_id', 0.4541378909941495),
 ('invited_by_user', 0.06769041645179677),
 ('creation_source_GUEST_INVITE', 0.09653280800928216),
 ('creation_source_ORG_INVITE', 0.014720276488196009),
 ('creation_source_PERSONAL_PROJECTS', 0.2638041972655051),
 ('creation_source_SIGNUP', 0.009058272088754258),
 ('creation_source_SIGNUP_GOOGLE_AUTH', 0.07818969117428781)]